{% load i18n %}{% autoescape off %}
2 {% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{
3 site_name }}.{% endblocktranslate %}
4
5 {% translate "Please go to the following page and choose a new password:" %}
6 {% block reset_link %}
7 {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
8 {% endblock %}
9 {% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}
10
11 {% translate "Thanks for using our site!" %}
12
13 {% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}
14
15 {% endautoescape %}