:root {
    --clr-light-gray: rgb(255, 255, 255);
    --clr-dark-blue: rgb(0, 110, 255);
    --clr-light-green: rgb(199, 250, 199);
    --clr-dark-green: rgb(155, 192, 155);
    --clr-darkest-green: rgb(0, 73, 0);
    --clr-light-green-shadow: rgb(172, 194, 172);
    --clr-green-shadow: rgba(172, 194, 172, 0.3);
    --clr-black: rgb(0, 0, 0);
    --spacing: 1.5rem;
    --main-page-width: 120rem;
    --table-min-width: 60rem;
    --biggest-font-size: 5rem;
    --bigger-font-size: 4rem;
    --big-font-size: 3.2rem;
    --medium-font-size: 2.4rem;
    --small-font-size: 1.6rem;
    --smaller-font-size: 1.4rem;
    --smallest-font-size: 1.2rem;
    --transition-fast: 300ms;
    --transition-medium: 600ms;
    --transition-slow: 1s;
    --border-sizing: 4px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--clr-light-green);
    font-size: var(--small-font-size);
    color: var(--clr-black);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5rem;
}

.main-content {
    max-width: var(--main-page-width);
    margin: calc(var(--spacing) * 2) auto;
    background: var(--clr-light-gray);
    padding: var(--spacing);
    border-radius: var(--border-sizing);
    box-shadow: 2px 2px 5px var(--clr-dark-green-shadow);
}

.responsive-table {
    width: 100%;
    overflow-x: auto;
}

.contacts-table {
    width: 100%;
    min-width: var(--table-min-width);
    border-collapse: collapse;
}

.caption-table {
    font-size: var(--big-font-size);
    font-weight: bold;
    padding: var(--spacing)
}

.table-row {
    text-align: left;
    text-overflow: ellipsis;
    transition: all var(--transition-medium) ease-in-out;
}

.table-row:nth-child(even) {
    background-color: var(--clr-light-green);
}

.table-row-header {
    background-color: var(--clr-light-green);
}

.table-cell,
.table-header {
    padding: var(--spacing);
}

.table-row:not(.table-row-header):hover {
    background-color: var(--clr-dark-green);
}

.table-link {
    text-decoration: None;
    font-weight: bold;
    color: var(--clr-dark-blue);
    transition: color var(--transition-fast) ease-in-out;
}

.table-link:hover {
    color: var(--clr-black);
}

.single-contact p,
h1 {
    padding: var(--spacing);
}

.single-contact {
    margin: 5rem;
}

.header {
    background: var(--clr-darkest-green);
    padding: var(--spacing);
    box-shadow: 0 5px 10px 2px var(--clr-light-green-shadow);
    z-index: 1;
    position: relative;
}

.header-heading {
    font-size: var(--biggest-font-size);
    text-align: center;
}

.header-link {
    color: var(--clr-light-green);
    text-decoration: none;
    transition: filter var(--transition-fast) ease-in-out;
}

.header-link:hover {
    filter: brightness(80%)
}

.menu {
    margin: var(--spacing);
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.menu-link {
    display: block;
    padding: var(--spacing);
    color: var(--clr-light-green);
    text-decoration: none;
    transition: background-color var(--transition-fast) ease-in-out;
    border-radius: var(--border-sizing);
}

.menu-link:hover {
    background: var(--clr-green-shadow)
}

.input {
    display: flex;
    justify-content: center;
}

.search-input {
    font-size: var(--medium-font-size);
    padding: 1rem 2rem;
    width: 100%;
    max-width: 32rem;
    border-radius: var(--border-sizing);
    border: 1px solid var(--clr-light-green)
}

.search-input:focus {
    box-shadow: 0 0 15px var(--clr-light-green);
}